Repository xzeggaedu/fica-academic: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-frontend, pytest-backend

vitest-frontend:
  name: Run Vitest on frontend
  entry: bash -c "cd frontend && npm run test -- --run"
  language: system

pytest-backend:
  name: Run pytest on backend
  entry: bash -c "PYTHONPATH=./backend pytest backend/app/tests"
  language: system

fix: resolve pytest config, Python version warnings, and optimize Azure container costs
  .github/workflows/deploy-azure.yml
  backend/pyproject.toml
  frontend/Dockerfile.prod
  run-tests-locally.sh
Due: vitest-frontend, pytest-backend

fixing pytest.ini bad sintax
  backend/pytest.ini
Due: pytest-backend

pytest.ini sintax fixed
  backend/pytest.ini
Due: pytest-backend

Eslint configuration added to precommit
  .github/workflows/deploy-azure.yml
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/refine-ui/data-table/data-table-filter.tsx
  frontend/src/components/ui/data/table-pagination.tsx
  frontend/src/components/ui/users/my-profile-sheet.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/hooks/useHourlyRatesCrud.ts
  frontend/src/pages/schedule-times/list.tsx
Due: vitest-frontend

simplificar la configuración de caché para evitar problemas:
  .github/workflows/deploy-azure.yml
Due: none

Fix Docker build cache and deployment tag issues
  .github/workflows/deploy-azure.yml
Due: none

Adding tags
  .github/workflows/deploy-azure.yml
Due: none

Add ACR authentication to deployment actions
  .github/workflows/deploy-azure.yml
Due: none

Fixing config.py to use BaseSettings instead of reading .env file
  backend/pyproject.toml
  backend/src/app/core/config.py
  backend/uv.lock
Due: pytest-backend

Deploying to azure
  backend/src/app/core/config.py
  backend/src/app/core/setup.py
  backend/src/scripts/create_first_superuser.py
  deploy-azure.back
Due: pytest-backend

Fix Docker Buildx cache error in GitHub Actions workflow
  .github/workflows/deploy-azure.yml
Due: none

Fix frontend API URL configuration
  .github/workflows/deploy-azure.yml
  frontend/Dockerfile.prod
Due: vitest-frontend

Stage Oct 25, 3:52 pm
  GENERAL (REVISADO CON EL DOCTOR).xlsx
  backend/Dockerfile
  backend/pyproject.toml
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/template_generation.py
  backend/src/app/core/worker/functions.py
  backend/src/app/core/worker/settings.py
  backend/src/app/core/worker/template_tasks_new.py
  backend/src/app/core/worker/template_transform.py
  backend/src/app/crud/template_generation.py
  backend/src/app/models/__init__.py
  backend/src/app/models/template_generation.py
  backend/src/app/models/user.py
  backend/src/app/schemas/template_generation.py
  backend/src/scripts/temp_transform.py
  backend/uv.lock
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/hooks/useTemplateGenerationCrud.ts
  frontend/src/pages/template-generation/create.tsx
  frontend/src/pages/template-generation/index.ts
  frontend/src/pages/template-generation/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
  frontend/vite.config.ts
Due: vitest-frontend, pytest-backend

Generate Templates
  backend/src/app/api/v1/template_generation.py
  backend/src/app/core/worker/functions.py
  backend/src/app/core/worker/template_tasks_new.py
  backend/src/app/schemas/template_generation.py
  frontend/src/pages/template-generation/list.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

feat: Agregar y corregir pruebas unitarias
  backend/pyproject.toml
  backend/tests/test_annual_holidays_api.py
  backend/tests/test_annual_holidays_crud.py
  backend/tests/test_template_generation.py
  backend/uv.lock
  frontend/src/pages/template-generation/create.test.tsx
  frontend/src/pages/template-generation/list.test.tsx
Due: vitest-frontend, pytest-backend

Academic load started
  backend/pyproject.toml
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/core/worker/academic_load_config.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/core/worker/settings.py
  backend/src/app/core/worker/template_transform.py
  backend/src/app/crud/academic_load_file.py
  backend/src/app/models/__init__.py
  backend/src/app/models/academic_load_file.py
  backend/src/app/schemas/academic_load_file.py
  backend/uv.lock
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/hooks/useAcademicLoadFilesCrud.ts
  frontend/src/pages/academic-load-files/index.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Academic load upload
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/core/setup.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/schemas/academic_load_file.py
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

reset script to test easy
  .gitignore
  reset.sh
Due: none

reset script to test easy removed
  reset.sh
Due: none

delete academic load button
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/template_generation.py
  docker-compose.yml
  frontend/src/components/ui/hard-delete-confirm-dialog.tsx
  frontend/src/components/ui/users/user-actions.tsx
  frontend/src/hooks/useAcademicLoadFilesCrud.ts
  frontend/src/hooks/useTemplateGenerationCrud.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/template-generation/list.tsx
Due: vitest-frontend, pytest-backend

Saving versions succesfully
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/crud/academic_load_file.py
  backend/src/app/models/academic_load_file.py
  backend/src/app/schemas/academic_load_file.py
  frontend/src/hooks/useAcademicLoadFilesCrud.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Versioning files finished, unit test pending'
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/models/academic_load_file.py
  backend/src/app/schemas/academic_load_file.py
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Unit test passed
  backend/tests/test_academic_load_file.py
Due: pytest-backend

Removing duplicated option in configuration
  frontend/src/App.tsx
Due: vitest-frontend

Changing Sá to Sa in days
  backend/Plantilla-Carga.xlsx
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/crud/academic_load_class.py
  backend/src/app/models/__init__.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/schemas/academic_load_class.py
  backend/src/app/schemas/catalog_schedule_time.py
  backend/src/scripts/seed_schedule_times.py
  backend/tests/test_academic_load_class.py
  frontend/src/pages/schedule-times/list.tsx
Due: vitest-frontend, pytest-backend

Saving load without validations
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/core/worker/academic_load_config.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/core/worker/validators/__init__.py
  backend/src/app/core/worker/validators/base.py
  backend/src/app/core/worker/validators/coordination.py
  backend/src/app/core/worker/validators/professor.py
  backend/src/app/core/worker/validators/schedule.py
  backend/src/app/core/worker/validators/subject.py
  backend/src/app/crud/academic_load_file.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/models/academic_load_file.py
  backend/src/app/schemas/academic_load_class.py
  backend/src/app/schemas/academic_load_file.py
  backend/tests/test_academic_load_processing.py
  backend/tests/test_academic_load_tasks.py
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Normalizers implemented succesfully
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/core/worker/normalizers/__init__.py
  backend/src/app/core/worker/normalizers/base.py
  backend/src/app/core/worker/normalizers/days.py
  backend/src/app/core/worker/normalizers/registry.py
  backend/src/app/core/worker/normalizers/schedules.py
  backend/src/app/core/worker/normalizers/titles.py
  backend/src/app/core/worker/validators/base.py
  frontend/src/pages/academic-load-files/list.tsx
Due: vitest-frontend, pytest-backend

Subject validator
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/core/worker/validators/subject.py
  frontend/src/pages/academic-load-files/list.tsx
Due: vitest-frontend, pytest-backend

unit test finished
  backend/src/app/core/worker/academic_load_tasks.py
  backend/tests/test_academic_load_tasks.py
  frontend/src/pages/academic-load-files/list.tsx
Due: vitest-frontend, pytest-backend

No validation requiered passing
  backend/src/app/core/worker/academic_load_tasks.py
  frontend/src/pages/academic-load-files/list.tsx
Due: vitest-frontend, pytest-backend

Unit test finished
  backend/pyproject.toml
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/core/worker/validators/subject.py
  backend/tests/test_academic_load_class.py
  frontend/src/hooks/useTemplateGenerationCrud.ts
  frontend/tsconfig.json
Due: vitest-frontend, pytest-backend

Seeder for users non-administrator
  backend/src/app/core/config.py
  backend/src/app/core/setup.py
  backend/src/scripts/seed_demo_users.py
  backend/tests/test_catalog_schedule_time.py
  backend/tests/test_seed_schedule_times.py
Due: pytest-backend

RBAC adjusted for Accademic load
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/schools.py
  backend/src/app/api/v1/users.py
  backend/src/app/core/rbac_scope.py
  frontend/src/hooks/useAcademicLoadFilesCrud.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/providers/accessControlProvider.ts
Due: vitest-frontend, pytest-backend

chore: pre-commit fixes after ruff/trailing-whitespace hooks
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/holiday.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/core/worker/template_tasks_new.py
  backend/src/app/schemas/academic_load_file.py
  backend/tests/test_academic_load_processing.py
  backend/tests/test_academic_load_tasks.py
  frontend/src/App.tsx
  frontend/src/hooks/useAcademicLoadFilesCrud.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/annual-holidays/list.tsx
  frontend/src/pages/holidays/list.tsx
  frontend/src/providers/accessControlProvider.ts
  run-tests-locally.sh
Due: vitest-frontend, pytest-backend

Details Academic Load finished
  backend/src/app/api/dependencies.py
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/schools.py
  backend/src/app/core/rbac_scope.py
  backend/src/app/crud/academic_load_class.py
  frontend/src/App.tsx
  frontend/src/hooks/useAcademicLoadClasses.ts
  frontend/src/hooks/useAcademicLoadFilesCrud.ts
  frontend/src/pages/academic-load-files/components/AcademicLoadFileBreadcrumbs.tsx
  frontend/src/pages/academic-load-files/components/AcademicLoadFileHeader.tsx
  frontend/src/pages/academic-load-files/components/AcademicLoadFileInfoCard.tsx
  frontend/src/pages/academic-load-files/components/AcademicLoadFileStats.tsx
  frontend/src/pages/academic-load-files/components/AcademicLoadFileTable.tsx
  frontend/src/pages/academic-load-files/components/index.ts
  frontend/src/pages/academic-load-files/index.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/academic-load-files/show.tsx
  frontend/src/pages/academic-load-files/utils/badges.tsx
  frontend/src/pages/academic-load-files/utils/validationErrors.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

New update
  backend/src/app/api/v1/academic_load_file.py
Due: pytest-backend

Sidebar adjusted
  backend/src/app/core/worker/validators/professor.py
  backend/src/uploads/data/faculty_catalog.csv
  frontend/src/App.tsx
  frontend/src/components/refine-ui/layout/sidebar.tsx
Due: vitest-frontend, pytest-backend

CanEdit and CanDelete validations on any view
  frontend/src/components/refine-ui/layout/sidebar.tsx
  frontend/src/pages/annual-holidays/list.tsx
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/fixed-holiday-rules/list.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/pages/subjects/list.tsx
  frontend/src/pages/terms/list.tsx
  frontend/src/providers/accessControlProvider.ts
Due: vitest-frontend

feat: permitir que admins y directores de escuela eliminen cargas académicas
  backend/src/app/api/v1/academic_load_file.py
  frontend/src/pages/academic-load-files/components/AcademicLoadFileInfoCard.tsx
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/academic-load-files/show.tsx
  frontend/src/providers/accessControlProvider.ts
Due: vitest-frontend, pytest-backend

Adding BLG to the model of data classes
  backend/src/app/core/worker/academic_load_config.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/schemas/academic_load_class.py
  frontend/src/pages/academic-load-files/components/AcademicLoadFileTable.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Path conditions:
  vitest-frontend: any of: ^frontend/
  pytest-backend: any of: ^backend/
