Repository xzeggaedu/fica-academic: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-frontend, pytest-backend

vitest-frontend:
  name: Run Vitest on frontend
  entry: bash -c "cd frontend && npm run test -- --run"
  language: system

pytest-backend:
  name: Run pytest on backend
  entry: bash -c "PYTHONPATH=./backend pytest backend/app/tests"
  language: system

fix: Add QueryClient mock and fix courses list tests
  backend/src/app/api/v1/catalog_course.py
  frontend/src/App.tsx
  frontend/src/components/ui/data/table-filters.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/pages/courses/index.ts
  frontend/src/pages/courses/list.test.tsx
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/schedule-times/index.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

feat: improve user management with admin permissions and profile editing
  backend/src/app/api/v1/users.py
  backend/src/app/crud/crud_user_scope.py
  backend/src/app/schemas/user.py
  backend/tests/test_user.py
Due: pytest-backend

Refactor using refine.dev hooks
  backend/src/app/api/v1/users.py
  backend/src/app/crud/crud_user_scope.py
  backend/src/app/models/user_scope.py
  backend/src/app/schemas/user_scope.py
  backend/src/migrations/versions/cd93d0fdb468_update_user_scope_constraint.py
  frontend/public/images/access-denied.svg
  frontend/src/App.tsx
  frontend/src/components/refine-ui/layout/header.tsx
  frontend/src/components/refine-ui/layout/sidebar.tsx
  frontend/src/components/ui/users/my-profile-edit-form.tsx
  frontend/src/components/ui/users/my-profile-sheet.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-details.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/components/ui/users/user-edit-sheet.tsx
  frontend/src/components/ui/users/user-permissions-sheet.tsx
  frontend/src/components/ui/users/user-view-sheet.tsx
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/faculties/list.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/pages/unauthorized.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/authProvider.ts
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Multiple change refactor to use refine.dev hooks
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/catalog_course.py
  backend/src/app/api/v1/faculties.py
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/api/v1/schools.py
  backend/src/app/api/v1/users.py
  backend/src/app/core/security.py
  backend/src/app/crud/crud_faculties.py
  backend/src/app/crud/crud_recycle_bin.py
  backend/src/app/crud/crud_users.py
  backend/src/app/models/faculty.py
  backend/src/app/models/recycle_bin.py
  backend/src/app/models/user.py
  backend/src/app/schemas/catalog_course.py
  backend/src/app/schemas/faculty.py
  backend/src/app/schemas/recycle_bin.py
  backend/src/app/schemas/user.py
  backend/src/migrations/README.md
  backend/src/migrations/versions/5aefafe9b012_change_restored_by_id_to_string_in_.py
  backend/src/migrations/versions/7cb5fc5fcd2c_add_soft_delete_to_faculty.py
  backend/src/migrations/versions/be33bd20bae7_rename_is_deleted_to_deleted_in_user.py
  backend/src/migrations/versions/c2c4b4059428_change_entity_id_to_string_in_recycle_.py
  backend/src/migrations/versions/d5605a7da11d_add_recycle_bin_table.py
  frontend/src/App.tsx
  frontend/src/components/ui/faculties/faculty-actions.tsx
  frontend/src/components/ui/faculties/faculty-delete-dialog.tsx
  frontend/src/components/ui/faculties/faculty-edit-form.tsx
  frontend/src/components/ui/faculties/faculty-schools-sheet.tsx
  frontend/src/components/ui/faculties/school-delete-dialog.tsx
  frontend/src/components/ui/users/user-actions.tsx
  frontend/src/components/ui/users/user-delete-dialog.tsx
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/faculties/list.tsx
  frontend/src/pages/recycle-bin/index.ts
  frontend/src/pages/recycle-bin/list.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/pages/tasks/list.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/tsconfig.json
Due: vitest-frontend, pytest-backend

Refactoring schedules to refine.dev
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

Fixing issues in schedule-hours
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

Test passing
  frontend/TEST-STATUS.md
  frontend/TESTING.md
  frontend/src/components/refine-ui/form/sign-in-form.test.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/counter.test.tsx
  frontend/src/components/ui/faculties/faculty-delete-dialog.test.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/components/ui/users/user-permissions-sheet.test.tsx
  frontend/src/hooks/use-api-debug.test.ts
  frontend/src/lib/utils.test.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/courses/list.test.tsx
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/faculties/list.test.tsx
  frontend/src/pages/faculties/list.tsx
  frontend/src/pages/login/index.test.tsx
  frontend/src/pages/recycle-bin/list.test.tsx
  frontend/src/pages/recycle-bin/list.tsx
  frontend/src/pages/users/create.tsx
  frontend/src/pages/users/edit.tsx
  frontend/src/pages/users/list.test.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/providers/accessControlProvider.test.ts
  frontend/src/providers/authProvider.test.ts
  frontend/src/providers/dataProvider.test.ts
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
  frontend/src/types/auth.test.ts
Due: vitest-frontend

Unit tests finished
  frontend/src/components/refine-ui/buttons/create-button.tsx
  frontend/src/components/refine-ui/buttons/delete-button.tsx
  frontend/src/components/refine-ui/buttons/edit-button.tsx
  frontend/src/components/refine-ui/buttons/list-button.tsx
  frontend/src/components/refine-ui/buttons/refresh-button.tsx
  frontend/src/components/refine-ui/buttons/show-button.tsx
  frontend/src/components/refine-ui/data-table/data-table-pagination.tsx
  frontend/src/components/refine-ui/layout/breadcrumb.tsx
  frontend/src/pages/tasks/show.tsx
  frontend/src/pages/users/create.tsx
  frontend/src/pages/users/edit.tsx
  frontend/src/pages/users/show.tsx
Due: vitest-frontend

invalidate queries now working fine
  docker-compose.yml
  frontend/Dockerfile.devtools
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ui/users/user-create-button.tsx
  frontend/src/components/ui/users/user-create-form.test.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-create-sheet.tsx
  frontend/src/pages/users/list.tsx
  frontend/vite.config.ts
Due: vitest-frontend

refactor endpoint routes
  backend/src/app/api/v1/catalog_course.py
  backend/src/app/api/v1/catalog_schedule_time.py
  backend/src/app/api/v1/faculties.py
  backend/src/app/api/v1/schools.py
  backend/src/app/api/v1/tasks.py
  backend/src/app/api/v1/users.py
  backend/tests/test_user.py
  frontend/src/mocks/handlers.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

Backend Unit tests fixed
  backend/tests/conftest.py
  backend/tests/test_catalog_course.py
  backend/tests/test_faculties.py
  backend/tests/test_recycle_bin.py
  backend/tests/test_schools.py
  backend/tests/test_tasks.py
  backend/tests/test_user.py
  backend/tests/test_user_scopes.py
Due: pytest-backend

Adding professor catalog and list view
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/catalog_professor.py
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/crud/crud_catalog_professor.py
  backend/src/app/models/catalog_professor.py
  backend/src/app/schemas/catalog_professor.py
  backend/src/migrations/versions/11dc5195775d_initial_migration_with_all_tables.py
  backend/src/migrations/versions/5aefafe9b012_change_restored_by_id_to_string_in_.py
  backend/src/migrations/versions/73e597f64356_add_catalog_course_tables.py
  backend/src/migrations/versions/7cb5fc5fcd2c_add_soft_delete_to_faculty.py
  backend/src/migrations/versions/be33bd20bae7_rename_is_deleted_to_deleted_in_user.py
  backend/src/migrations/versions/c2c4b4059428_change_entity_id_to_string_in_recycle_.py
  backend/src/migrations/versions/cd93d0fdb468_update_user_scope_constraint.py
  backend/src/migrations/versions/d5605a7da11d_add_recycle_bin_table.py
  backend/src/scripts/fix_special_chars.py
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_professors.py
  backend/tests/test_catalog_professor.py
  frontend/src/App.tsx
  frontend/src/components/ui/faculties/faculty-create-button.tsx
  frontend/src/components/ui/faculties/faculty-create-form.tsx
  frontend/src/components/ui/faculties/faculty-create-sheet.tsx
  frontend/src/components/ui/faculties/faculty-schools-sheet.tsx
  frontend/src/components/ui/professors/professor-delete-dialog.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/faculties/list.tsx
  frontend/src/pages/professors/index.ts
  frontend/src/pages/professors/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/utils/iconMap.tsx
Due: vitest-frontend, pytest-backend

professors added
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/users/list.tsx
Due: vitest-frontend

feat: implement soft-delete and restore for courses and schedule-times
  backend/src/app/api/v1/catalog_course.py
  backend/src/app/api/v1/catalog_schedule_time.py
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/core/config.py
  backend/src/app/core/upload_config.py
  backend/src/app/core/utils/redis_blacklist.py
  backend/src/app/crud/crud_catalog_course.py
  backend/src/app/crud/crud_catalog_schedule_time.py
  backend/src/app/models/__init__.py
  backend/src/app/models/catalog_course.py
  backend/src/app/models/catalog_schedule_time.py
  backend/src/app/models/course_school.py
  backend/src/app/models/school.py
  backend/src/app/schemas/catalog_course.py
  backend/src/app/schemas/catalog_schedule_time.py
  backend/tests/conftest.py
  backend/tests/test_catalog_course.py
  backend/tests/test_catalog_professor.py
  backend/tests/test_catalog_schedule_time.py
  backend/tests/test_seed_schedule_times.py
  frontend/src/components/ui/delete-confirm-dialog.tsx
  frontend/src/components/ui/faculties/faculty-actions.tsx
  frontend/src/components/ui/schedule-times/schedule-delete-dialog.tsx
  frontend/src/pages/courses/list.test.tsx
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/recycle-bin/list.tsx
  frontend/src/pages/schedule-times/list.test.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

Docker ymal now gives init_db dependencies of backend
  docker-compose.yml
Due: none

Api endpoints for coordinations added
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/catalog_coordination.py
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/crud/crud_catalog_coordination.py
  backend/src/app/models/catalog_coordination.py
  backend/src/app/schemas/catalog_coordination.py
  backend/tests/test_catalog_coordination.py
  docker-compose.yml
Due: pytest-backend

Coordinations feature added
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/crud/crud_catalog_coordination.py
  backend/src/scripts/seed_faculties_schools.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/components/ui/coordinations/coordination-form-sheet.test.tsx
  frontend/src/components/ui/coordinations/coordination-form-sheet.tsx
  frontend/src/components/ui/professors/professor-form-sheet.tsx
  frontend/src/pages/coordinations/index.ts
  frontend/src/pages/coordinations/list.test.tsx
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/courses/list.tsx
  frontend/src/pages/recycle-bin/list.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

Refactor to standarize catalogs
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/catalog_course.py
  backend/src/app/api/v1/catalog_subject.py
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/crud/crud_catalog_course.py
  backend/src/app/crud/crud_catalog_subject.py
  backend/src/app/models/__init__.py
  backend/src/app/models/catalog_subject.py
  backend/src/app/models/school.py
  backend/src/app/models/subject_school.py
  backend/src/app/schemas/__init__.py
  backend/src/app/schemas/catalog_course.py
  backend/src/app/schemas/catalog_subject.py
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_schedule_times.py
  backend/src/scripts/seed_subjects.py
  backend/tests/test_catalog_course.py
  backend/tests/test_catalog_subject.py
  frontend/src/App.tsx
  frontend/src/components/ui/data/table-pagination.tsx
  frontend/src/components/ui/faculties/faculty-schools-sheet.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/hooks/useTablePagination.ts
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/courses/index.ts
  frontend/src/pages/courses/list.test.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/subjects/index.ts
  frontend/src/pages/subjects/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Create user name field validation fixed
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
Due: vitest-frontend

hooks created
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCoordinationsCrud.ts
  frontend/src/hooks/useFacultiesCrud.ts
  frontend/src/hooks/useProfessorsCrud.ts
  frontend/src/hooks/useScheduleTimesCrud.ts
  frontend/src/hooks/useSchoolsCrud.ts
  frontend/src/hooks/useSubjectsCrud.ts
  frontend/src/hooks/useTablePagination.ts
  frontend/src/hooks/useUsersCrud.ts
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/subjects/list.tsx
  frontend/src/types/api.ts
Due: vitest-frontend

Coordination and professor hooks implemented
  frontend/src/components/ui/coordinations/coordination-form-sheet.tsx
  frontend/src/components/ui/professors/professor-form-sheet.tsx
  frontend/src/hooks/useFacultiesCrud.ts
  frontend/src/hooks/useProfessorsCrud.ts
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/professors/list.tsx
Due: vitest-frontend

All working fine
  frontend/src/components/ui/faculties/faculty-edit-form.tsx
  frontend/src/components/ui/faculties/faculty-schools-sheet.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/components/ui/users/user-edit-sheet.tsx
  frontend/src/hooks/useFacultiesCrud.ts
  frontend/src/hooks/useRecycleBinCrud.ts
  frontend/src/hooks/useScheduleTimesCrud.ts
  frontend/src/hooks/useSchoolsCrud.ts
  frontend/src/hooks/useSubjectsCrud.ts
  frontend/src/hooks/useUsersCrud.ts
  frontend/src/pages/faculties/list.tsx
  frontend/src/pages/recycle-bin/list.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/pages/subjects/list.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

feat: add extended schedule times support (start_time_ext, end_time_ext)
  .gitignore
  backend/src/app/api/v1/catalog_coordination.py
  backend/src/app/api/v1/catalog_subject.py
  backend/src/app/crud/crud_catalog_schedule_time.py
  backend/src/app/crud/crud_catalog_subject.py
  backend/src/app/models/catalog_coordination.py
  backend/src/app/models/catalog_schedule_time.py
  backend/src/app/models/catalog_subject.py
  backend/src/app/schemas/catalog_coordination.py
  backend/src/app/schemas/catalog_schedule_time.py
  backend/src/app/schemas/catalog_subject.py
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_coordinations.py
  backend/src/scripts/seed_schedule_times.py
  backend/src/scripts/seed_subjects.py
  backend/src/uploads/.gitignore
  backend/src/uploads/README.md
  backend/src/uploads/data/schedules/.gitkeep
  backend/src/uploads/data/schedules/horarios-revisados.csv
  backend/src/uploads/index.html
  backend/tests/test_catalog_coordination.py
  backend/tests/test_catalog_schedule_time.py
  backend/tests/test_catalog_subject.py
  frontend/src/components/ui/coordinations/coordination-form-sheet.test.tsx
  frontend/src/components/ui/coordinations/coordination-form-sheet.tsx
  frontend/src/components/ui/professors/professor-form-sheet.tsx
  frontend/src/hooks/useFacultiesCrud.ts
  frontend/src/hooks/useScheduleTimesCrud.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/coordinations/list.test.tsx
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/pages/subjects/list.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

chore: add all CSV data files to version control
  .gitignore
  backend/src/uploads/data/academic_levels.csv
  backend/src/uploads/data/coordinations.csv
  backend/src/uploads/data/coordinations_catalog.csv
  backend/src/uploads/data/courses_catalog.csv
  backend/src/uploads/data/faculty_catalog.csv
  backend/src/uploads/data/hourly_rate_history.csv
  backend/src/uploads/data/professor.csv
Due: pytest-backend

feat: add academic levels and hourly rates management
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/academic_level.py
  backend/src/app/api/v1/hourly_rate_history.py
  backend/src/app/crud/crud_academic_level.py
  backend/src/app/crud/crud_hourly_rate_history.py
  backend/src/app/models/__init__.py
  backend/src/app/models/academic_level.py
  backend/src/app/models/hourly_rate_history.py
  backend/src/app/schemas/academic_level.py
  backend/src/app/schemas/hourly_rate_history.py
  backend/src/scripts/clean_tables.py
  backend/src/scripts/init_db.py
  backend/src/scripts/run_all_seeders.py
  backend/src/scripts/seed_academic_levels.py
  backend/src/scripts/seed_hourly_rates.py
  backend/src/scripts/test_seeders.py
  backend/tests/test_academic_level.py
  backend/tests/test_hourly_rate_history.py
  frontend/src/App.tsx
  frontend/src/components/ui/academic-levels/academic-level-create-sheet.tsx
  frontend/src/components/ui/academic-levels/index.ts
  frontend/src/components/ui/hourly-rates/hourly-rate-create-sheet.tsx
  frontend/src/components/ui/hourly-rates/index.ts
  frontend/src/hooks/useAcademicLevelsCrud.ts
  frontend/src/hooks/useHourlyRatesCrud.ts
  frontend/src/pages/academic-levels/index.ts
  frontend/src/pages/academic-levels/list.tsx
  frontend/src/pages/hourly-rates/index.ts
  frontend/src/pages/hourly-rates/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

feat: disable inline editing for hourly rates and clean unused imports
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/hourly_rate_history.py
  backend/src/app/api/v1/server_time.py
  backend/src/app/crud/crud_hourly_rate_history.py
  backend/src/app/models/academic_level.py
  backend/src/app/models/hourly_rate_history.py
  backend/src/app/schemas/hourly_rate_history.py
  backend/src/scripts/seed_academic_levels.py
  backend/src/scripts/seed_hourly_rates.py
  backend/tests/test_hourly_rate_history.py
  docker-compose.prod.yml
  docker-compose.yml
  frontend/src/components/ui/academic-levels/academic-level-create-sheet.tsx
  frontend/src/components/ui/hard-delete-confirm-dialog.tsx
  frontend/src/components/ui/hourly-rates/hourly-rate-create-sheet.tsx
  frontend/src/hooks/useAcademicLevelsCrud.ts
  frontend/src/hooks/useHourlyRatesCrud.ts
  frontend/src/hooks/useRecycleBinCrud.ts
  frontend/src/hooks/useScheduleTimesCrud.ts
  frontend/src/pages/academic-levels/list.tsx
  frontend/src/pages/coordinations/list.tsx
  frontend/src/pages/faculties/list.tsx
  frontend/src/pages/hourly-rates/list.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/recycle-bin/list.tsx
  frontend/src/pages/schedule-times/list.test.tsx
  frontend/src/pages/schedule-times/list.tsx
  frontend/src/pages/subjects/list.tsx
  frontend/src/pages/users/list.test.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/utils/timezone.ts
Due: vitest-frontend, pytest-backend

Fixing pipeline
  docker-compose.prod.yml
Due: none

API for holyday system finished
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/annual_holiday.py
  backend/src/app/api/v1/fixed_holiday_rule.py
  backend/src/app/api/v1/holiday.py
  backend/src/app/api/v1/term.py
  backend/src/app/api/v1/workdays_calculator.py
  backend/src/app/crud/crud_annual_holiday.py
  backend/src/app/crud/crud_fixed_holiday_rule.py
  backend/src/app/crud/crud_holiday.py
  backend/src/app/crud/crud_term.py
  backend/src/app/models/__init__.py
  backend/src/app/models/annual_holiday.py
  backend/src/app/models/fixed_holiday_rule.py
  backend/src/app/models/holiday.py
  backend/src/app/models/term.py
  backend/src/app/schemas/__init__.py
  backend/src/app/schemas/annual_holiday.py
  backend/src/app/schemas/fixed_holiday_rule.py
  backend/src/app/schemas/holiday.py
  backend/src/app/schemas/term.py
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_fixed_holiday_rules.py
  backend/src/scripts/seed_holidays.py
  backend/src/scripts/seed_terms.py
  frontend/src/pages/users/list.tsx
Due: vitest-frontend, pytest-backend

Calendar view finished
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/api/v1/term.py
  backend/src/app/crud/crud_term.py
  backend/src/app/models/term.py
  frontend/src/App.tsx
  frontend/src/components/refine-ui/layout/sidebar.tsx
  frontend/src/hooks/useAnnualHolidaysCrud.ts
  frontend/src/hooks/useFixedHolidayRulesCrud.ts
  frontend/src/hooks/useHolidaysCrud.ts
  frontend/src/hooks/useTermsCrud.ts
  frontend/src/pages/annual-holidays/index.ts
  frontend/src/pages/annual-holidays/list.tsx
  frontend/src/pages/fixed-holiday-rules/index.ts
  frontend/src/pages/fixed-holiday-rules/list.tsx
  frontend/src/pages/holidays/index.ts
  frontend/src/pages/holidays/list.tsx
  frontend/src/pages/subjects/list.tsx
  frontend/src/pages/terms/index.ts
  frontend/src/pages/terms/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Restored calendar view
  frontend/src/App.tsx
  frontend/src/pages/annual-holidays/list.tsx
Due: vitest-frontend

Unit tests finished
  TESTING-GUIDE.md
  backend/pytest.ini
  backend/src/scripts/test_seeders.py
  backend/tests/conftest.py
  backend/tests/test_annual_holidays_api.py
  backend/tests/test_annual_holidays_crud.py
  backend/tests/test_class_days_calculation.py
  frontend/src/pages/annual-holidays/list.tsx
  frontend/src/pages/holidays/list.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/test/annual-holidays/calendar-interactions-simple.test.tsx
  frontend/src/test/annual-holidays/date-grouping.test.ts
  frontend/src/test/hooks/useAnnualHolidaysCrud-simple.test.ts
  frontend/src/test/setup-annual-holidays.ts
Due: vitest-frontend, pytest-backend

Refhesh table data bug fixed
  frontend/src/hooks/useAnnualHolidaysCrud.ts
  frontend/src/hooks/useSubjectsCrud.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

feat: Add Azure deployment configuration and fix academic level validation
  azure-deploy.yaml
  backend/src/app/api/v1/academic_level.py
  backend/src/app/api/v1/catalog_schedule_time.py
  backend/src/app/api/v1/recycle_bin.py
  backend/src/app/crud/crud_academic_level.py
  backend/src/app/crud/crud_annual_holiday.py
  backend/src/app/crud/crud_catalog_schedule_time.py
  backend/src/app/crud/crud_fixed_holiday_rule.py
  backend/src/app/models/academic_level.py
  backend/src/app/schemas/academic_level.py
  backend/src/scripts/seed_academic_levels.py
  backend/tests/test_academic_level.py
  deploy-azure.sh
  deploy-to-azure.md
  frontend/src/components/ui/academic-levels/academic-level-create-sheet.tsx
  frontend/src/hooks/useAcademicLevelsCrud.ts
  frontend/src/hooks/useRecycleBinCrud.ts
  frontend/src/pages/academic-levels/list.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

feat: Add Azure Container Apps deployment with containerized database services
  .github/workflows/deploy-azure.yml
  .gitignore
  Horarios.csv
  backend/src/app/core/setup.py
  backend/src/app/crud/crud_annual_holiday.py
  backend/src/app/crud/crud_holiday.py
  backend/src/app/models/annual_holiday.py
  backend/src/app/models/holiday.py
  backend/tests/test_annual_holidays_api.py
  backend/tests/test_annual_holidays_crud.py
Due: pytest-backend

feat: Add comprehensive testing pipeline to GitHub Actions workflow
  .github/workflows/deploy-azure.yml
  backend/run-tests-locally.sh
  backend/src/app/crud/crud_annual_holiday.py
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_hourly_rates.py
  backend/src/scripts/seed_subjects.py
  run-tests-locally.sh
Due: pytest-backend

feat: update Azure deployment configuration
  .github/workflows/deploy-azure.yml
  .gitignore
  backend/run-tests-locally.sh
Due: pytest-backend

fix: align GitHub Actions linting with pre-commit behavior
  .github/workflows/deploy-azure.yml
Due: none

fix: install dev dependencies including faker for tests
  .github/workflows/deploy-azure.yml
Due: none

fix: exclude integration tests from GitHub Actions workflow
  .github/workflows/deploy-azure.yml
Due: none

fix: resolve pytest configuration and test markers
  backend/pytest.ini
  backend/tests/test_annual_holidays_api.py
  backend/tests/test_annual_holidays_crud.py
Due: pytest-backend

Path conditions:
  vitest-frontend: any of: ^frontend/
  pytest-backend: any of: ^backend/
