Repository xzeggaedu/fica-academic: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-frontend, pytest-backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        additional_dependencies: []
        files: backend/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        language_version: python3.11
        additional_dependencies: []
        files: backend/
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        language_version: python3.11
        additional_dependencies: []
        files: backend/
  - repo: https://github.com/PyCQA/pylint
    rev: v3.1.0
    hooks:
      - id: pylint
        entry: ./.venv/bin/pylint
        language_version: python3.11
        additional_dependencies: []
        args: ["--rcfile=.pylintrc", "backend/app"]
  - repo: local
    hooks:
      - id: vitest-frontend
        name: Run Vitest on frontend
        entry: bash -c "cd frontend && npm run test -- --run"
        language: system
        files: ^frontend/
      - id: pytest-backend
        name: Run pytest on backend
        entry: bash -c "PYTHONPATH=./backend pytest backend/app/tests"
        language: system
        files: ^backend/

Fix linting issues and resolve import errors
  backend/src/app/core/exceptions/http_exceptions.py
Due: pytest-backend

requirements.txt renamed
  .github/workflows/main.yml
Due: none

Fix GitHub workflow paths and use uv for backend dependencies
  .github/workflows/main.yml
Due: none

Fix frontend vite.svg import path
  frontend/src/App.tsx
Due: vitest-frontend

Implement multi-stage Docker strategy for frontend
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: vitest-frontend

Fix GitHub Actions test failures
  .github/workflows/main.yml
  frontend/src/App.tsx
Due: vitest-frontend

Fix SECRET_KEY configuration for CI environment
  backend/src/app/core/config.py
Due: pytest-backend

removing vite.svg from app.tsx
  frontend/src/App.tsx
Due: vitest-frontend

Add Dockerfile.prod for backend production deployment
  backend/Dockerfile.prod
Due: pytest-backend

feat: Add production testing infrastructure and fix database migration
  .gitignore
  PRODUCTION-CONFIG.md
  PRODUCTION-TESTING.md
  backend/.gitignore
  backend/src/env.production.template
  backend/src/migrations/versions/971f41cb8620_create_all_tables.py
  cleanup-prod.sh
  docker-compose.prod.yml
  test-prod.sh
Due: pytest-backend

feat: Add comprehensive unit testing setup for frontend
  .github/workflows/main.yml
  .pre-commit-config.yaml
  frontend/TESTING.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/card.test.tsx
  frontend/src/components/ui/counter.test.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/test/setup.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: vitest-frontend

feat(backend): improve unit testing configuration and coverage
  backend/pyproject.toml
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/test_config.py
  backend/tests/test_login.py
  backend/tests/test_logout.py
  backend/tests/test_security.py
  backend/tests/test_tasks.py
  backend/tests/test_user.py
  backend/uv.lock
Due: pytest-backend

fix: resolve authorization issues and improve test coverage
  backend/pyproject.toml
  backend/src/app/schemas/user.py
  backend/uv.lock
  frontend/TESTING.md
  frontend/package.json
  frontend/src/components/auth/RoleGuard.tsx
  frontend/src/providers/accessControlProvider.test.ts
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.test.ts
  frontend/src/test/setup.ts
  frontend/src/types/auth.test.ts
  frontend/src/types/auth.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
Due: vitest-frontend, pytest-backend

fix: resolve alias resolution issues in GitHub Actions
  frontend/src/providers/dataProvider.test.ts
  frontend/vitest.config.ts
Due: vitest-frontend

fix: resolve @/lib/utils alias issues in GitHub Actions
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: vitest-frontend

feat: add vitest.config.ts for better test configuration
  frontend/vitest.config.ts
Due: vitest-frontend

update: modify GitHub Actions workflow configuration
  .github/workflows/main.yml
Due: none

Run test with npm run test in github actions
  .github/workflows/main.yml
Due: none

Change npm install by npm ci in github action pipeline
  .github/workflows/main.yml
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: vitest-frontend

debugging ts config paths
  .github/workflows/main.yml
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: vitest-frontend

Debuggint path resolutions
  .github/workflows/main.yml
Due: none

fix: resolve @/lib/utils import issues by updating .gitignore
  .gitignore
  frontend/src/lib/utils.test.ts
  frontend/src/lib/utils.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: vitest-frontend

refactor: reorganize UI components by domain and standardize task list
  frontend/src/components/ui/data/pagination.tsx
  frontend/src/components/ui/data/table-filters.tsx
  frontend/src/components/ui/data/table.tsx
  frontend/src/components/ui/feedback/sonner.tsx
  frontend/src/components/ui/forms/checkbox.tsx
  frontend/src/components/ui/forms/form.tsx
  frontend/src/components/ui/forms/input-otp.tsx
  frontend/src/components/ui/forms/input.tsx
  frontend/src/components/ui/forms/label.tsx
  frontend/src/components/ui/forms/radio-group.tsx
  frontend/src/components/ui/forms/select.tsx
  frontend/src/components/ui/forms/textarea.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/components/ui/layout/breadcrumb.tsx
  frontend/src/components/ui/layout/sidebar.tsx
  frontend/src/components/ui/users/user-actions.tsx
  frontend/src/components/ui/users/user-create-button.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-create-sheet.tsx
  frontend/src/components/ui/users/user-delete-dialog.tsx
  frontend/src/components/ui/users/user-details.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/components/ui/users/user-edit-sheet.tsx
  frontend/src/components/ui/users/user-view-sheet.tsx
  frontend/src/pages/tasks/components/ui.tsx
  frontend/src/pages/tasks/list.tsx
Due: vitest-frontend

fix: correct all import paths after component reorganization
  frontend/src/components/refine-ui/data-table/data-table-filter.tsx
  frontend/src/components/refine-ui/data-table/data-table.tsx
  frontend/src/components/refine-ui/form/forgot-password-form.tsx
  frontend/src/components/refine-ui/form/input-password.tsx
  frontend/src/components/refine-ui/form/sign-in-form.tsx
  frontend/src/components/refine-ui/form/sign-up-form.tsx
  frontend/src/components/refine-ui/layout/header.tsx
  frontend/src/components/refine-ui/layout/layout.tsx
  frontend/src/components/refine-ui/layout/sidebar.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-details.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/pages/users/create.tsx
  frontend/src/pages/users/edit.tsx
  frontend/src/pages/users/list.tsx
Due: vitest-frontend

Removing console logs
  frontend/src/components/ui/users/user-actions.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/components/ui/users/user-delete-dialog.tsx
  frontend/src/components/ui/users/user-details.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/components/ui/users/user-view-sheet.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

feat: implement tooltip for disabled role select and improve Select component
  frontend/src/App.tsx
  frontend/src/components/refine-ui/form/sign-in-form.tsx
  frontend/src/components/refine-ui/form/sign-up-form.tsx
  frontend/src/components/ui/forms/select.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/components/ui/users/user-details.tsx
  frontend/src/components/ui/users/user-edit-form.tsx
  frontend/src/components/ui/users/user-edit-sheet.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

feat: implementar sistema de detección proactiva de sesión expirada
  frontend/src/App.tsx
  frontend/src/components/refine-ui/layout/layout.tsx
  frontend/src/components/ui/modals/session-expired-modal.tsx
  frontend/src/contexts/session-expired-context.tsx
  frontend/src/hooks/use-session-monitor.ts
  frontend/src/providers/authProvider.test.ts
  frontend/src/providers/authProvider.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend

fix: agregar profile_image_url al esquema UserCreateAdmin
  backend/src/app/models/user.py
  backend/src/app/schemas/user.py
  frontend/src/components/refine-ui/buttons/create.tsx
  frontend/src/components/refine-ui/data-table/data-table-filter.tsx
  frontend/src/components/refine-ui/layout/error-component.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/components/ui/users/user-create-form.tsx
  frontend/src/providers/authProvider.ts
Due: vitest-frontend, pytest-backend

test: Marcar pruebas de integración y actualizar CI para ejecutar solo pruebas unitarias
  .github/workflows/main.yml
  backend/tests/test_faculties.py
  backend/tests/test_schools.py
  backend/tests/test_user_scope.py
Due: pytest-backend

feat: implement user permissions management system
  backend/src/app/api/v1/users.py
  backend/src/app/models/user.py
  backend/src/app/schemas/user.py
  backend/src/app/schemas/user_scope.py
  backend/src/migrations/versions/a1b2c3d4e5f6_remove_uuid_from_user_table.py
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_faculties_schools.py
  backend/tests/test_user_scope.py
  frontend/src/components/ui/users/user-actions.tsx
  frontend/src/components/ui/users/user-permissions-sheet.tsx
  frontend/src/pages/users/list.tsx
Due: vitest-frontend, pytest-backend

test: Clean up and fix unit tests for schedule times
  backend/src/scripts/seed_schedule_times.py
  backend/tests/test_catalog_schedule_time.py
  backend/tests/test_faculties.py
  backend/tests/test_schools.py
  backend/tests/test_seed_schedule_times.py
  backend/tests/test_user_scope.py
  frontend/src/components/ui/schedule-times/schedule-delete-dialog.test.tsx
  frontend/src/pages/configuration/schedule-times/list.test.tsx
Due: vitest-frontend, pytest-backend

feat: Implement courses catalog backend with school relationships
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/catalog_course.py
  backend/src/app/crud/crud_catalog_course.py
  backend/src/app/models/__init__.py
  backend/src/app/models/catalog_course.py
  backend/src/app/models/course_school.py
  backend/src/app/models/school.py
  backend/src/app/schemas/__init__.py
  backend/src/app/schemas/catalog_course.py
  backend/src/migrations/versions/73e597f64356_add_catalog_course_tables.py
  backend/tests/test_catalog_course.py
Due: pytest-backend

feat: Add courses seeder with CSV import
  backend/src/scripts/init_db.py
  backend/src/scripts/seed_courses.py
Due: pytest-backend

fix: Add missing await to schedule times seeder
  backend/src/scripts/seed_schedule_times.py
Due: pytest-backend
