Repository xzeggaedu/fica-academic: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-frontend, pytest-backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.11
        additional_dependencies: []
        files: backend/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        language_version: python3.11
        additional_dependencies: []
        files: backend/
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        language_version: python3.11
        additional_dependencies: []
        files: backend/
  - repo: https://github.com/PyCQA/pylint
    rev: v3.1.0
    hooks:
      - id: pylint
        entry: ./.venv/bin/pylint
        language_version: python3.11
        additional_dependencies: []
        args: ["--rcfile=.pylintrc", "backend/app"]
  - repo: local
    hooks:
      - id: vitest-frontend
        name: Run Vitest on frontend
        entry: bash -c "cd frontend && npm run test -- --run"
        language: system
        files: ^frontend/
      - id: pytest-backend
        name: Run pytest on backend
        entry: bash -c "PYTHONPATH=./backend pytest backend/app/tests"
        language: system
        files: ^backend/

maximize/minimize button on cards
  frontend/src/components/charts/CategoryPaymentTable.tsx
  frontend/src/pages/vicerrector-dashboard/index.tsx
Due: vitest-frontend

Responsive grid and expan button finished
  frontend/src/pages/vicerrector-dashboard/index.tsx
Due: vitest-frontend

responsive dashboards finished
  frontend/src/components/charts/CategoryPaymentTable.tsx
  frontend/src/pages/decano-dashboard/index.tsx
  frontend/src/pages/director-dashboard/index.tsx
  frontend/src/pages/vicerrector-dashboard/index.tsx
Due: vitest-frontend

Doughnut chart size adjusted
  frontend/src/components/charts/SimpleDoughnutChart.tsx
Due: vitest-frontend

Adjusting pipeline to deploy to GHCR
  .github/workflows/deploy-azure.yml
  .github/workflows/main.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile.prod
Due: vitest-frontend

Fixing unit test broken
  backend/tests/test_billing_utils.py
Due: pytest-backend

Ignoring integration tests
  backend/tests/test_billing_monthly_budget_api.py
  backend/tests/test_billing_payment_summary_api.py
  backend/tests/test_billing_report_api.py
  backend/tests/test_billing_schedule_blocks_api.py
Due: pytest-backend

Documenting server deploy
  .gitignore
  GENERAL (REVISADO CON EL DOCTOR).xlsx
  TESTING-GUIDE.md
  backend/src/app/core/config.py
  deploy-azure.back
  deploy-azure.sh
  docker-compose.prod.yml
  run-tests-locally.sh
Due: pytest-backend

fix: Remove unused variable in system update
  .gitignore
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/system_update.py
  cleanup-prod.sh
  docker-compose.prod.yml
  frontend/src/App.tsx
  frontend/src/pages/system/index.ts
  frontend/src/pages/system/update.tsx
  frontend/src/providers/accessControlProvider.ts
Due: vitest-frontend, pytest-backend

Default start page
  frontend/src/App.tsx
  frontend/src/components/home-redirect.tsx
  frontend/src/providers/authProvider.ts
Due: vitest-frontend

fix: corregir problemas de validación y configuración en producción
  backend/src/app/api/v1/system_update.py
  backend/src/app/core/config.py
  docker-compose.prod.yml
  frontend/src/pages/system/update.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

Logger updated
  backend/src/app/core/logger.py
Due: pytest-backend

Path academics added to the frontend base path
  .github/workflows/main.yml
  docker-compose.prod.yml
  frontend/Dockerfile.prod
  frontend/vite.config.ts
Due: vitest-frontend

fixing some bugs
  backend/src/uploads/README.md
  backend/src/uploads/academic_load/1ae2717d-52e9-41b1-ac49-3d37cae0d366_Plantilla-Carga-INFO-2025.xlsx
  backend/src/uploads/academic_load/2c3525a7-a185-468a-abb1-f23f06b4771b_Plantilla-Carga-INFO-2024.xlsx
  backend/src/uploads/academic_load/931f8bfa-552c-4354-b3e3-2a5e1a9c315c_Plantilla-Carga-INFO-2025.xlsx
  backend/src/uploads/academic_load/9514ae91-6845-4e46-b900-252dc0b20275_Plantilla-Carga-CCAA-2025.xlsx
  backend/src/uploads/academic_load/ba7f3ded-e04f-470e-8300-f24c08aaf8a0_Plantilla-Carga-INFO-2025.xlsx
  backend/src/uploads/academic_load/d86613e7-1e15-41b8-9442-db259dab452c_Plantilla-Carga-CCAA-2025.xlsx
  backend/src/uploads/academic_load/f682c378-fbbb-4c9d-86c8-39392449fa81_Plantilla-Carga-CCAA-2024.xlsx
  backend/src/uploads/data/terms_data.csv
  backend/src/uploads/index.html
  frontend/src/components/charts/MonthlyTrendChart.tsx
  frontend/src/components/refine-ui/layout/header.tsx
  frontend/src/components/refine-ui/layout/sidebar.tsx
  frontend/src/components/refine-ui/layout/user-avatar.tsx
  frontend/src/pages/academic-load-files/list-vicerrector.tsx
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/director-dashboard/index.tsx
  frontend/src/providers/authProvider.ts
Due: vitest-frontend, pytest-backend

Escuelas readonly para usuarios no administradores
  frontend/src/components/ui/faculties/faculty-schools-sheet.tsx
Due: vitest-frontend

base path added to front
  frontend/index.html
  frontend/src/App.tsx
Due: vitest-frontend

using relative path in vite api url
  frontend/src/providers/authProvider.ts
  frontend/src/providers/dataProvider.ts
  frontend/src/utils/token-interceptor.ts
Due: vitest-frontend

api path ignored in github actions
  .github/workflows/main.yml
  frontend/src/hooks/use-session-monitor.ts
  frontend/src/pages/academic-load-files/show.tsx
Due: vitest-frontend

Fixing errors on api start
  backend/src/app/core/setup.py
Due: pytest-backend

csv added to docker container
  backend/.dockerignore
  backend/Dockerfile.prod
  backend/src/app/core/setup.py
Due: pytest-backend

Update method fixed
  frontend/src/pages/system/update.tsx
Due: vitest-frontend

testing changes
  frontend/src/pages/system/update.tsx
Due: vitest-frontend

fix: Agregar noqa para imports después de modificar sys.path
  backend/src/app/api/v1/system_update.py
  backend/src/app/core/worker/settings.py
  backend/src/app/core/worker/system_update_tasks.py
  scripts/EXTERNAL_UPDATE_WORKER.md
  scripts/external_update_worker.py
Due: pytest-backend

fix: Corregir manejo de estado en página de actualización del sistema
  frontend/src/pages/system/update.tsx
Due: vitest-frontend

fix: Agregar logging y mejor manejo de errores en endpoint de verificación de actualizaciones
  backend/src/app/api/v1/system_update.py
Due: pytest-backend

feat: Implementar sistema de actualizaciones usando API de GHCR y Redis para digests
  backend/src/SYSTEM_UPDATE_ENV_VARS.md
  backend/src/app/api/v1/system_update.py
  backend/src/app/core/config.py
  backend/src/app/core/worker/system_update_tasks.py
  scripts/EXTERNAL_UPDATE_WORKER.md
Due: pytest-backend

fix: Implementar autenticación correcta con GHCR usando Docker Registry API v2
  backend/src/app/api/v1/system_update.py
  docker-compose.prod.yml
Due: pytest-backend

Testng updates
  frontend/src/components/refine-ui/form/sign-in-form.tsx
Due: vitest-frontend

fix: Remover process_system_update del worker interno del contenedor
  backend/src/app/core/worker/settings.py
Due: pytest-backend

fix: Corregir rutas de imágenes y logout para usar base path /academics
  frontend/src/components/refine-ui/form/sign-in-form.tsx
  frontend/src/pages/unauthorized.tsx
  frontend/src/providers/authProvider.ts
Due: vitest-frontend

fix: Normalizar basename en BrowserRouter para evitar problemas con trailing slash
  frontend/src/App.tsx
Due: vitest-frontend

fix: Normalizar VITE_BASE_PATH para manejar valores sin slash inicial
  frontend/src/App.tsx
  frontend/src/components/refine-ui/form/sign-in-form.tsx
  frontend/src/pages/unauthorized.tsx
  frontend/src/providers/authProvider.ts
Due: vitest-frontend

feat: mejoras en dashboards, estadísticas de profesores y corrección de calendario
  MANUAL_INSTALACION.md
  backend/src/.env.example
  backend/src/SYSTEM_UPDATE_ENV_VARS.md
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/catalog_professor.py
  backend/src/app/api/v1/system_update.py
  backend/src/app/core/config.py
  backend/src/app/core/worker/settings.py
  backend/src/app/core/worker/system_update_tasks.py
  backend/src/uploads/academic_load/392f452d-b7a0-47ed-bfde-394ac2d232a3_Plantilla-Carga-INFO-2024.xlsx
  backend/src/uploads/academic_load/885dbb31-734e-4db2-8680-65f64c373646_Plantilla-Carga-INFO-2025.xlsx
  backend/src/uploads/data/academic_levels_data.csv
  backend/src/uploads/data/coordinations_catalog.csv
  backend/src/uploads/data/courses_catalog.csv
  backend/src/uploads/data/faculty_catalog.csv
  backend/src/uploads/data/fixed_holiday_data.csv
  backend/src/uploads/data/hourly_rate_history_data.csv
  backend/src/uploads/data/schedules/horarios-revisados.csv
  backend/src/uploads/data/terms_data.csv
  docker-compose.prod.yml
  frontend/src/App.tsx
  frontend/src/components/charts/CategoryPaymentTable.tsx
  frontend/src/components/charts/SimpleBarChart.tsx
  frontend/src/components/charts/SimpleDoughnutChart.tsx
  frontend/src/hooks/useProfessorStatistics.ts
  frontend/src/pages/annual-holidays/list.tsx
  frontend/src/pages/decano-dashboard/index.tsx
  frontend/src/pages/director-dashboard/index.tsx
  frontend/src/pages/professors/list.tsx
  frontend/src/pages/system/index.ts
  frontend/src/pages/system/update.tsx
  frontend/src/pages/vicerrector-dashboard/index.tsx
  frontend/src/providers/accessControlProvider.ts
  scripts/EXTERNAL_UPDATE_WORKER.md
  scripts/external_update_worker.py
Due: vitest-frontend, pytest-backend
