Repository xzeggaedu/fica-academic: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-frontend, pytest-backend

vitest-frontend:
  name: Run Vitest on frontend
  entry: bash -c "cd frontend && npm run test -- --run"
  language: system

pytest-backend:
  name: Run pytest on backend
  entry: bash -c "PYTHONPATH=./backend pytest backend/app/tests"
  language: system

Adding professor doctorate to the table
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/schemas/academic_load_class.py
Due: pytest-backend

payment rate
  backend/src/app/core/worker/academic_load_config.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/schemas/academic_load_class.py
  backend/tests/test_academic_load_class.py
  frontend/src/pages/academic-load-files/components/AcademicLoadFileTable.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

feat: Etapa 0 - Utilidades base para planilla de facturación
  backend/src/app/core/billing/__init__.py
  backend/src/app/core/billing/billing_utils.py
  backend/tests/test_billing_utils.py
Due: pytest-backend

feat: Etapa 1 - Endpoint para bloques de horarios únicos
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/schemas/billing.py
  backend/tests/test_billing_schedule_blocks_api.py
Due: pytest-backend

feat: Etapa 2 - Endpoint para resumen de tasas de pago por nivel
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/schemas/billing.py
  backend/tests/test_billing_payment_summary_api.py
Due: pytest-backend

feat: Etapa 3 - Endpoint para presupuesto mensual
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/core/billing/__init__.py
  backend/src/app/core/billing/billing_utils.py
  backend/src/app/schemas/billing.py
  backend/tests/test_billing_monthly_budget_api.py
Due: pytest-backend

feat: Etapa 4 - Endpoint unificado de reporte de facturación
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/schemas/billing.py
  backend/tests/test_billing_report_api.py
Due: pytest-backend

feat(backend): Agregar modelo y CRUD para reportes de facturación editables
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/billing_report.py
  backend/src/app/crud/crud_billing_report.py
  backend/src/app/models/billing_report.py
  backend/src/app/schemas/billing_report.py
Due: pytest-backend

fix: Resolver conflicto de nombres BillingReportResponse
  backend/src/app/api/v1/academic_load_file.py
Due: pytest-backend

Academic level overview in payroll
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/billing_report.py
  backend/src/app/core/worker/academic_load_config.py
  backend/src/app/crud/crud_billing_report.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/models/billing_report.py
  backend/src/app/models/faculty.py
  frontend/src/App.tsx
  frontend/src/hooks/useBillingReports.ts
  frontend/src/pages/academic-load-files/components/AcademicLoadFileInfoCard.tsx
  frontend/src/pages/academic-load-files/show.tsx
  frontend/src/pages/billing-reports/components/BillingReportBreadcrumbs.tsx
  frontend/src/pages/billing-reports/components/BillingReportHeader.tsx
  frontend/src/pages/billing-reports/components/MonthlyBudgetBlock.tsx
  frontend/src/pages/billing-reports/components/PaymentSummaryBlock.tsx
  frontend/src/pages/billing-reports/components/index.ts
  frontend/src/pages/billing-reports/index.ts
  frontend/src/pages/billing-reports/show.tsx
  frontend/src/providers/dataProvider.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Formatting overview table
  frontend/src/pages/billing-reports/components/PaymentSummaryBlock.tsx
Due: vitest-frontend

Overview formatted
  frontend/src/pages/billing-reports/components/MonthlyBudgetBlock.tsx
  frontend/src/pages/billing-reports/components/PaymentSummaryBlock.tsx
  frontend/src/pages/billing-reports/show.tsx
Due: vitest-frontend

Monthly budget almost finished
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/core/worker/academic_load_tasks.py
  backend/src/app/crud/crud_billing_report.py
  backend/src/app/models/__init__.py
  backend/src/app/models/billing_report.py
  backend/src/app/schemas/billing_report.py
  frontend/src/pages/billing-reports/components/MonthlyBudgetBlock.tsx
  frontend/src/pages/billing-reports/components/PaymentSummaryBlock.tsx
  frontend/src/pages/billing-reports/show.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

small change in the footer results
  frontend/src/pages/billing-reports/components/MonthlyBudgetBlock.tsx
Due: vitest-frontend

static budget finished
  backend/src/app/models/academic_load_file.py
  backend/src/app/models/billing_report.py
  backend/src/app/schemas/billing_report.py
  frontend/src/pages/billing-reports/components/BillingReportBreadcrumbs.tsx
  frontend/src/pages/billing-reports/components/BillingReportHeader.tsx
  frontend/src/pages/billing-reports/components/UnifiedReportTable.tsx
  frontend/src/pages/billing-reports/components/index.ts
  frontend/src/pages/billing-reports/show.tsx
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

months ordered chronologically
  frontend/src/pages/billing-reports/components/UnifiedReportTable.tsx
Due: vitest-frontend

Cambio de nombred e la app
  backend/src/uploads/data/faculty_catalog.csv
  frontend/src/App.tsx
Due: vitest-frontend, pytest-backend

Permissions and 404 components used
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/billing_report.py
  frontend/src/hooks/useBillingReports.ts
  frontend/src/pages/billing-reports/show.tsx
  frontend/src/pages/not-found.tsx
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

Consolidated table
  backend/src/app/api/v1/billing_report.py
  backend/src/app/schemas/billing_report.py
  frontend/src/App.tsx
  frontend/src/hooks/useConsolidatedBillingReport.ts
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/billing-reports/components/BillingReportBreadcrumbs.tsx
  frontend/src/pages/billing-reports/components/BillingReportHeader.tsx
  frontend/src/pages/billing-reports/consolidated.tsx
  frontend/src/pages/billing-reports/index.ts
  frontend/src/types/api.ts
Due: vitest-frontend, pytest-backend

Director dashboard in progress
  backend/src/app/api/v1/__init__.py
  backend/src/app/api/v1/dashboard.py
  backend/src/app/schemas/dashboard.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/charts/HeatmapSchedule.tsx
  frontend/src/components/charts/MonthlyTrendChart.tsx
  frontend/src/components/charts/StackedByScheduleChart.tsx
  frontend/src/hooks/useDirectorDashboard.ts
  frontend/src/pages/director-dashboard/index.tsx
Due: vitest-frontend, pytest-backend

feat: agregar tabla de categorías por estado de pago en dashboard decano
  backend/pyproject.toml
  backend/src/app/api/v1/dashboard.py
  backend/src/app/core/constants.py
  backend/src/app/models/academic_load_class.py
  backend/src/app/models/catalog_professor.py
  backend/src/app/schemas/academic_load_class.py
  backend/src/app/schemas/catalog_professor.py
  backend/src/app/schemas/dashboard.py
  frontend/src/App.tsx
  frontend/src/components/charts/CategoryPaymentTable.tsx
  frontend/src/components/charts/ComparativeSectionsChart.tsx
  frontend/src/components/charts/SectionsBySchoolChart.tsx
  frontend/src/components/charts/SimpleDoughnutChart.tsx
  frontend/src/hooks/useDecanoDashboard.ts
  frontend/src/hooks/useDirectorDashboard.ts
  frontend/src/pages/decano-dashboard/index.tsx
  frontend/src/pages/director-dashboard/index.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

feat: ajustar layout de cards en dashboard decano para alinear notas al final
  frontend/src/components/charts/CategoryPaymentTable.tsx
  frontend/src/components/charts/ComparativeSectionsChart.tsx
  frontend/src/components/charts/SectionsBySchoolChart.tsx
  frontend/src/pages/decano-dashboard/index.tsx
Due: vitest-frontend

fix: asegurar creación de directorios de uploads en Docker
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/template_generation.py
  backend/src/app/core/setup.py
  backend/src/app/core/upload_config.py
Due: pytest-backend

feat: deshabilitar botón Ver Planilla mientras se cargan datos
  frontend/src/pages/academic-load-files/components/AcademicLoadFileInfoCard.tsx
  frontend/src/pages/academic-load-files/show.tsx
Due: vitest-frontend

feat: eliminar funcionalidades de registro y recuperación de contraseña
  frontend/src/App.tsx
  frontend/src/components/refine-ui/form/forgot-password-form.tsx
  frontend/src/components/refine-ui/form/sign-in-form.tsx
  frontend/src/components/refine-ui/form/sign-up-form.tsx
  frontend/src/hooks/use-session-monitor.ts
  frontend/src/pages/forgot-password/index.tsx
  frontend/src/pages/register/index.tsx
  frontend/src/providers/authProvider.ts
Due: vitest-frontend

fix: optimizar uso de memoria al iniciar aplicación en Docker
  backend/Dockerfile
  backend/src/app/core/setup.py
  docker-compose.yml
Due: pytest-backend

Adding dockerignore
  backend/.dockerignore
Due: pytest-backend

fix: deshabilitar reload por defecto para evitar errores de memoria
  README.md
  docker-compose.yml
Due: none

fix: ocultar dashboards de Director y Decano para administradores
  backend/src/.env.example
  frontend/src/providers/accessControlProvider.ts
  frontend/src/test/setup.ts
Due: vitest-frontend, pytest-backend

chore: deshabilitar pgadmin en desarrollo
  docker-compose.yml
Due: none

Vicerrector Dashboard
  backend/src/app/api/v1/dashboard.py
  frontend/src/App.tsx
  frontend/src/hooks/useVicerrectorDashboard.ts
  frontend/src/pages/vicerrector-dashboard/index.tsx
  frontend/src/providers/accessControlProvider.ts
Due: vitest-frontend, pytest-backend

feat: Agregar agrupamiento por facultad para Vicerrector y configurar autoreload
  README.md
  backend/pyproject.toml
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/billing_report.py
  backend/src/app/core/config.py
  backend/src/app/schemas/academic_load_file.py
  backend/src/uploads/academic_load/ba7f3ded-e04f-470e-8300-f24c08aaf8a0_Plantilla-Carga-INFO-2025.xlsx
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/pages/academic-load-files/index.ts
  frontend/src/pages/academic-load-files/list-vicerrector.tsx
  frontend/src/pages/academic-load-files/list-wrapper.tsx
  frontend/src/providers/accessControlProvider.ts
  frontend/src/providers/dataProvider.ts
Due: vitest-frontend, pytest-backend

Fix: Allow Vicerrector to view academic load file details
  backend/.dockerignore
  backend/pyproject.toml
  backend/src/app/api/v1/academic_load_file.py
  backend/src/app/api/v1/billing_report.py
  backend/src/app/core/config.py
  backend/src/uploads/academic_load/9514ae91-6845-4e46-b900-252dc0b20275_Plantilla-Carga-CCAA-2025.xlsx
  backend/uv.lock
  docker-compose.yml
  frontend/src/pages/academic-load-files/list-vicerrector.tsx
  frontend/src/pages/academic-load-files/list.tsx
  frontend/src/pages/academic-load-files/show.tsx
  frontend/src/pages/billing-reports/components/UnifiedReportTable.tsx
Due: vitest-frontend, pytest-backend

Add monthly report by faculty component to Vicerrector dashboard
  backend/src/app/api/v1/dashboard.py
  backend/src/app/schemas/dashboard.py
  frontend/src/components/charts/MonthlyReportByFaculty.tsx
  frontend/src/pages/vicerrector-dashboard/index.tsx
Due: vitest-frontend, pytest-backend

Dashboard responsive
  frontend/src/components/charts/CategoryPaymentTable.tsx
  frontend/src/components/charts/SimpleDoughnutChart.tsx
  frontend/src/pages/vicerrector-dashboard/index.tsx
Due: vitest-frontend

all resports for vicerector applied
  backend/src/app/api/v1/dashboard.py
  backend/src/app/schemas/dashboard.py
  frontend/src/pages/vicerrector-dashboard/index.tsx
Due: vitest-frontend, pytest-backend

Path conditions:
  vitest-frontend: any of: ^frontend/
  pytest-backend: any of: ^backend/
